<!DOCTYPE>
<!DOCTYPE html>
<html>
<head>
	<title>iPlant</title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link href="https://fonts.googleapis.com/css?family=Patua+One|Roboto:300,400,400i,700" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='app.js') }}"></script>
	<meta http-equiv="cache-control" content="no-cache" />
</head>

<body>
  <div class="container-fluid">
    <div class="well">
    <div class="row">
      <div class="col-md-12">
          <h1 class="head text-center">iPlant</h1>
        </div>
      </div>
    
      <div class="row">
        <div class="col-md-6">
          <div class="well"  id="img-well">
            <img class="img-rounded test-image center-block" src="{{ url_for('static', filename='img.jpg') }}" width="500px"></img>
        <p class="text-center" id="image-description">{{ plant_name }}</p>
          </div>       
        </div>
        <div class="col-md-6">
         
       </div>
      </div>
    </div>
  </div>

</body>  
</html>
